<mat-sidenav-container class="main-view">
  <mat-sidenav class="l--height-100 l--overflow-y-only side-nav" mode="side" [opened]="!isMobileSize">
    <mat-list>
      @for (link of links; track link.id) {
      <mat-list-item class="l--nav-item" (click)="router.navigateByUrl(link.route)">
        <mat-icon matListItemIcon [fontIcon]="link.icon"></mat-icon>
        <div matListItemTitle>
          {{ link.title }}
        </div>
      </mat-list-item>
      }
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (isMobileSize) {
    <div class="l--width-100 l--padded header">
      <button mat-raised-button>
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
    </div>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>