<mat-sidenav-container class="main-view">
  <mat-sidenav class="l--height-100 l--overflow-manager side-nav" mode="side" opened>
    <mat-list>
      @for (link of links; track link.id) {
      <mat-list-item class="l--nav-item" (click)="router.navigateByUrl(link.route)">
        <mat-icon matListItemIcon [fontIcon]="link.icon"></mat-icon>
        <div matListItemTitle>
          {{ link.title }}
        </div>
      </mat-list-item>
      }
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>